/* Выбор базы */

.rangeSlider {
    width: 80%;
    margin: 0px 0;
    background-color: transparent;
    -webkit-appearance: none;
}
.rangeSlider:focus {
    outline: none;
    
}
.rangeSlider:focus::-webkit-slider-runnable-track{
    background: #080070;
}
.rangeSlider::-webkit-slider-runnable-track {

    background: #283593;
    border: 0;
    border-radius: 0.25rem;

    height: 1rem;
    cursor: pointer;
}
.rangeSlider::-webkit-slider-thumb {
    width: 0.75rem;
    height: 1rem;
    background: #e7e5df;
    border: 1px solid rgba(8, 0, 112, 0.5);
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-appearance: none;
}

/* Выбор базы */

/* Поиск и выбор аромок */

/* Поиск по ароматизаторам */

.flavoringSearchWrapper {
    background-color: rgb(255, 126, 158);
    width: 25vw;
    height: 30vh;

    border: 2px solid rgb(16, 0, 41);
    border-radius: 1vw;
}

.flavoringSearchInput {
    position: relative;
    display: block;
    box-sizing: border-box;
    
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;

    width: 22vw;
    padding: 0;
}

.dropdownContent::-webkit-scrollbar {
    min-width: 0.5rem;
    
    max-width: 0.75rem;
    background-color: transparent;
    
}

.dropdownContent::-webkit-scrollbar-thumb {
    background-color: #f5f5f6;
    border-radius: 1rem;
}

.dropdownContent::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

.dropdownContent {
    @apply 
    h-60 p-2 grid grid-cols-1 gap-2
    bg-bg2 border-2 border-bg1  rounded-xl 
    overflow-scroll overflow-x-hidden

}

/* Поиск по ароматизаторам */

/* Выбранные ароматизаторы */

/* Выбранные ароматизаторы */

/* Поиск и выбор аромок */

/* Описание рецепта */

/* Описание рецепта */
