.headerWrapper {
    background-color: darkgray;
    fontSize: 20px;
    text-align: end;
    grid-area: h;
}

.headerWrapper span {
    padding-right: 15px;
}

.headerWrapper a {
    text-decoration: none;

    margin-right: 15px;
}

.headerWrapper a:link {
    color: black;
}

.headerWrapper a:visited {
    color: black
}